# Virtual Environment
venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Testing
.pytest_cache/
.mypy_cache/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Hugging Face Cache
.cache/