.footer{

    margin-top:100px;

    padding:60px 8%;

    border-top:1px solid rgba(255,255,255,.08);

    background:rgba(8,12,28,.6);

}

.footer-content{

    max-width:900px;

    margin:auto;

    text-align:center;

}

.footer h2{

    font-size:34px;

    margin-bottom:15px;

}

.footer p{

    color:#AEB9D5;

    line-height:1.8;

}

.footer-links{

    display:flex;

    justify-content:center;

    gap:30px;

    margin:35px 0;

}

.footer-links a{

    color:white;

    transition:.3s;

}

.footer-links a:hover{

    color:#4F8CFF;

}

.copyright{

    color:#7C89A7;

}