nav{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 8%;

}

.logo{

    font-size:34px;

    font-weight:700;

    font-family:'Poppins';

}

.nav-links{

    display:flex;

    gap:40px;

}

.nav-links a{

    position:relative;

    transition:.3s;

}

.nav-links a:hover{

    color:var(--accent);

}

.nav-links a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-6px;

    width:0;

    height:2px;

    background:var(--accent);

    transition:.3s;

}

.nav-links a:hover::after{

    width:100%;

}