:root{

    --background:#020617;

    --surface:#0F172A;

    --card:rgba(30,41,59,.65);

    --primary:#E50914;

    --accent:#38BDF8;

    --accent2:#8B5CF6;

    --text:#F8FAFC;

    --secondary:#CBD5E1;

    --radius:18px;

}